@media screen and (max-width: 2500px) {
	.skills__container {
		column-gap: 8rem;
	}

	.course {
		line-height: 3rem;
	}

	.project--2 {
		padding: 0 20rem 0 5rem;
	}
}

@media screen and (max-width: 1500px) {
	.project--2 {
		padding: 0 15rem 0 5rem;
	}

	.projects {
		padding: 0 19rem 20rem;
	}
}

@media screen and (max-width: 1400px) {
	.home {
		padding: 20rem 2rem;
	}

	.projects {
		grid-template-columns: 1fr;
		grid-template-rows: 1px 1fr 1fr 1fr;
		text-align: center;
		row-gap: 5rem;
	}

	.project {
		display: grid;
		align-items: center;
		justify-content: center;
		gap: 0;
		margin-bottom: 10rem;
	}

	.project:nth-child(2n) {
		display: flex;
		flex-direction: column-reverse;
	}

	.project--2,
	.project--3 {
		padding: 0;
	}

	.project__detail {
		margin-top: 12rem;
	}

	.phone__screen {
		width: 282px;
		height: 461px;
		top: 100px;
		left: 35px;
	}

	.phone__img {
		top: 50px;
		left: -220px;
		height: 588px;
	}

	.laptop__img {
		width: 600px;
		height: 700px;
		position: absolute;
		top: 0px;
		left: -150px;
	}

	.laptop__screen {
		width: 426px;
		top: 120px;
		left: -63px;
		height: 300px;
	}
}

@media screen and (max-width: 1200px) {
	.phone__screen {
		left: 50px;
	}

	.phone__img {
		left: -205px;
	}
}

@media screen and (max-width: 1100px) {
	body {
		font-size: 1.8rem;
	}

	.section-skills {
		padding-bottom: 6rem;
	}

	.nav {
		padding: 2rem 5rem;
	}

	.home__img {
		width: 30%;
		margin: 12rem auto 2rem;
		display: flex;
	}

	.home {
		flex-direction: column-reverse;
		padding: 5rem 0 10rem;
	}

	.home__paragraph {
		font-size: 2.8rem;
	}

	.home__img-container {
		margin-right: 0;
	}

	.home__text-container {
		padding: 0 5rem 15rem;
	}

	.skills__courses {
		font-weight: 600;
	}

	.skills__container {
		grid-template-columns: 1fr;
		row-gap: 4rem;
		padding: 0 3rem;
	}

	.projects {
		gap: 10rem;
	}

	.cntr-grid {
		justify-content: center;
		align-content: center;
		display: grid;
	}

	.cntr {
		margin: 0 auto;
		width: 50rem;
	}

	.footer-list__item:first-child {
		display: none;
	}

	.github__container {
		padding: 2rem 0;
	}

	.item__display {
		display: inline-block;
	}

	.box__container,
	.github__chart {
		display: none;
	}
}

@media screen and (max-width: 900px) {
	body {
		font-size: 2rem;
	}

	html {
		font-size: 55%;
	}

	.projects__title {
		font-size: 4rem;
	}

	.nav__logo {
		display: none;
	}

	.nav {
		justify-content: center;
	}

	.about__paragraphs {
		display: flex;
		flex-direction: column;
	}

	.about__paragraph {
		text-align: left;
		border-right: none;
		line-height: 1.3;
	}

	.footer-list {
		font-size: 1.6rem;
		flex-direction: column;
		align-items: center;
	}

	.footer-list__item {
		padding: 0.5rem;
		border-bottom: none;
	}

	.projects {
		padding: 0 5rem 5rem;
	}

	.cntr {
		width: 60rem;
	}
}

@media screen and (max-width: 750px) {
	.home__img {
		width: 45%;
	}

	.nav {
		padding: 2rem 3rem;
	}

	.nav__face {
		display: none;
	}

	.home__paragraph {
		padding: 0;
		text-align: center;
	}

	.phone {
		padding: 0 20rem;
	}
}

@media screen and (max-width: 650px) {
	.home__text {
		font-size: 6rem;
	}

	.about__paragraph {
		padding: 0 0;
	}

	.project__detail {
		margin-top: 10rem;
	}

	.project__detail::after {
		height: 44rem;
		width: 44rem;
	}

	.project__detail::before {
		height: 40rem;
		width: 48rem;
	}

	.cntr {
		width: 100%;
	}
}

@media screen and (max-width: 560px) {
	html {
		font-size: 50%;
	}

	.nav__item {
		margin-left: 2rem;
	}

	.home__text {
		text-align: center;
	}

	.nav__list {
		font-size: 1.4rem;
	}

	.projects {
		gap: 0;
	}

	.project__detail {
		margin-top: 15rem;
	}

	.project:nth-child(2n) .project__detail {
		margin-top: 0;
	}

	.laptop__img {
		width: 400px;
		height: 600px;
		top: 30px;
		left: -48px;
	}

	.laptop__screen {
		width: 285px;
		top: 131px;
		left: 10px;
		height: 261px;
	}

	.phone__screen {
		left: 25px;
	}

	.phone__img {
		left: -230px;
	}
}

@media screen and (max-width: 480px) {
	.nav {
		padding: 2rem;
	}

	.home__text-container {
		margin-top: 3rem;
	}
}

@media screen and (max-width: 400px) {
	html {
		font-size: 40%;
	}
	.nav {
		padding: 2rem 0;
	}

	.phone,
	.laptop {
		display: none;
	}

	.projects {
		gap: 10rem;
	}

	.project {
		display: flex;
		flex-direction: column;
	}

	.projects::before {
		display: none;
	}

	.project:nth-child(2n) {
		flex-direction: column;
	}

	.project__detail {
		justify-content: center;
		margin-top: 0;
		padding: 5rem 0;
	}

	.project__btn {
		display: inline-block;
	}

	.mg-top {
		margin-top: 2rem;
	}
}
