* {
	padding: 0;
	margin: 0;
	font-family: "Open Sans", sans-serif;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
}

h1,
h2,
p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

.mbsmall {
	margin-bottom: 1.5rem;
}

.section {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.bd-grid {
	max-width: 1024px;
	display: grid;
	margin-left: auto;
	margin-right: auto;
}

.l-header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: #fff;
	box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

/*===== NAV =====*/
.nav {
	height: 4.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
}

.nav__item {
	margin-left: 3rem;
	margin-bottom: 0;
}

.nav__list {
	display: flex;
	padding-top: 0;
}

.nav__link {
	position: relative;
	color: hsl(224, 56%, 12%);
}

.nav__link:hover {
	position: relative;
}

.nav__link:hover::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 0.18rem;
	left: 0;
	top: 2rem;
	background-color: #c69963;
}

.nav__logo {
	color: hsl(224, 56%, 12%);
}

.nav__toggle {
	font-size: 1.5rem;
	cursor: pointer;
}

.active::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 0.18rem;
	left: 0;
	top: 2rem;
	background-color: #c69963;
}

.container {
	background-color: #fff;
	overflow: hidden;
	transition: all;
}

.home {
	height: 100vh;
	display: flex;
	align-items: center;
	overflow: hidden;
	padding: 2rem;
}

.home__text-container {
	flex: 3;

	animation: MoveRight 3s ease-out;
}

.home__img-container {
	flex: 1;
	margin-right: 5vw;

	animation: MoveLeft 3s ease-out;
}

.home__text {
	color: #c69963;
	font-size: 7vw;
	cursor: default;
	padding: 0px 60px;
	margin-bottom: 2vh;
}

.home__paragraph {
	color: #6d5d4b;
	font-size: 2vw;
	cursor: default;
	padding: 0px 100px;
}

.home__img {
	width: 100%;
	border-radius: 1000px;
	border: 5px solid #c69963;
}

.about__container {
	background-color: #c69963;
	color: #eee;
	padding: 2rem;
}

.about {
	font-size: 3.5rem;
	color: #eee;
	cursor: default;
	text-align: center;
	padding: 3rem 0 1.5rem;
	animation: MoveTop 2s ease-in;
}

.about__paragraphs {
	margin: 20px 30px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 2rem;
}

.about__paragraph {
	text-align: justify;
	line-height: 1.6rem;
	border-right: 1px solid #eee;
	padding-right: 2rem;
}

.about__paragraph:nth-child(3n) {
	border-right: none;
}

.bold__text {
	font-weight: bold;
}

.jobTitleContainer {
	height: 15vh;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #c6996362;
}

.lower {
	border-top: 1px solid #c6996362;
}

/*==== SKILLS ====*/

.skills__container {
	grid-template-columns: 1fr 1fr;
	row-gap: 2rem;
	column-gap: 3rem;
	text-align: center;
	color: #6d5d4b;
}

.skills__subtitle {
	font-size: 2.5rem;
	margin-bottom: 2rem;
}

.skills__subtitle-course {
	font-size: 2.5rem;
	margin: 6rem 0 3rem;
	text-align: center;
}

.skills__subtitle-language {
	font-size: 2.5rem;
	margin: 3rem 0 3rem;
	text-align: center;
}

.skills__courses {
	list-style: none;
	text-align: left;
	line-height: 1.4rem;
}

.course {
	line-height: 1.5rem;
}

.course__date {
	display: block;
	color: #c69963;
}

.skills__data {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	font-weight: bold;
	padding: 0.5rem 1rem;
	margin-bottom: 1rem;
	border-radius: 0.5rem;
	box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
}

.skills__names {
	display: flex;
	align-items: center;
}

.skills__bar {
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #c69963;
	height: 0.25rem;
	border-radius: 0.5rem;
}

.skills__html {
	width: 90%;
}

.skills__css {
	width: 65%;
}

.skills__js {
	width: 65%;
}

.skills__react {
	width: 50%;
}

.skills__ang {
	width: 70%;
}
/* KONIEC SKILLS */

.jobTitle {
	font-size: 2.5rem;
	color: #333;
	cursor: default;
}

.projects {
	overflow: hidden;
	background: linear-gradient(#c69963cb, #6d5d4b);
	padding: 0px 100px;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.2fr 40rem 40rem 40rem;
}

.project--1 {
	grid-row: 2;
	grid-column: 1/3;
}
.project--2 {
	grid-row: 3;
	grid-column: 1/3;
}
.project--3 {
	grid-row: 4;
	grid-column: 1/3;
}

.projects__title {
	font-size: 5.5vw;
	color: #6d5d4b;
	text-align: center;

	animation-name: MoveTop;
	animation-duration: 3s;
}

.project {
	display: flex;
	align-items: center;
	gap: 5vh;
}

.project:nth-child(2n) {
	flex-direction: row-reverse;
}

.phone {
	flex: 1;
	width: 300px;
	height: 600px;
	position: relative;
}

.phone__img {
	width: 800px;
	height: 600px;
	position: absolute;
}

.phone__screen {
	width: 279px;
	height: 470px;
	position: absolute;
	top: 53px;
	left: 256px;
	border-radius: 20px;
	overflow: scroll;
}

.phone__screen::-webkit-scrollbar {
	display: none;
}

.phone__app {
	width: 100%;
	height: 100%;
}

.project__detail {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 50px;
	align-items: center;
	color: #fff;
	padding: 2rem 1rem;

	max-width: 30rem;
	position: relative;
	z-index: 1;
}

.project__detail::after {
	content: "";
	background-color: #eeeeee40;
	height: 27rem;
	width: 27rem;
	border-radius: 10000px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 0;
}

.projects__title {
	grid-column: 1/3;
	grid-row: 1;
	font-size: 4rem;
	color: #eee;
	z-index: 2;
	text-shadow: 5px 5px 10px #666;
}
.project__title {
	z-index: 1;
}

.project__description {
	font-size: 1.4rem;
	color: #fff;
	text-align: center;
	line-height: 30px;
	z-index: 1;
}

.laptop {
	flex: 1;
	width: 300px;
	height: 600px;
	position: relative;
}

.laptop__img {
	width: 600px;
	height: 700px;
	position: absolute;
}

.laptop__screen {
	width: 425px;
	height: 300px;
	position: absolute;
	top: 120px;
	left: 87px;
	overflow: scroll;
}

.laptop__screen::-webkit-scrollbar {
	display: none;
}

.laptop__app {
	width: 100%;
	height: 1000%;
}

.github__container {
	height: 45vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #eee;
}

.github__title {
	font-size: 2rem;
	color: #333;
}

.github__chart {
	width: 820px;
	text-align: center;
}

.dates {
	padding: 10px;
	color: #555;
	font-size: 12px;
	display: flex;
	justify-content: space-between;
}

.box__container {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
}

.box {
	width: 15px;
	height: 15px;
	background-color: #171c25;
	border-radius: 2px;
	cursor: pointer;
	transition: 3s all ease;
}

.active:nth-child(4n) {
	background-color: #195b2c;
}

.github__chart:hover .active:nth-child(2n + 1) {
	background-color: #288f45;
}
.github__chart:hover .active:nth-child(2n) {
	background-color: #0c7946;
}

.githubSm {
	display: none;
}

.github__span {
	display: inline-block;
	font-size: 1.4rem;
	margin-top: 0.8rem;
	color: #333;
	font-weight: bold;
}

.footer {
	background-color: #777;
	padding: 0 10rem;
	font-size: 1rem;
	color: #fff;
}

.footer_color {
	color: #fff;
}

.footer__container {
	display: flex;
	flex-direction: column;
}
.footer__title {
	text-align: center;
	padding-top: 1rem;
}

.footer-list {
	display: flex;
	justify-content: space-around;
	padding: 1rem;
	margin-bottom: 1rem;
	font-weight: bold;
}

@media screen and (min-width: 1400px) {
	.project {
		height: 55vh;
	}
}

@media screen and (max-width: 1200px) {
	section {
		width: 100%;
		margin: auto 0;
	}

	.projects {
		grid-template-columns: 1fr;
		grid-template-rows: 0.2fr 1fr 1fr 1fr;
		padding: 0 30px;
		text-align: center;
		background-color: #eee;
	}

	.project--1 {
		grid-row: 2/3;
	}
	.project--2 {
		grid-row: 3/4;
	}
	.project--3 {
		grid-row: 4/5;
	}

	.project {
		display: grid;
		align-items: center;
		justify-content: center;
		gap: 0;
	}

	.project__detail {
		margin-top: 10rem;
	}

	.project__detail::after {
		top: 39%;
	}

	.phone,
	.laptop {
		transform: none !important;
	}

	.phone__screen {
		width: 282px;
		height: 461px;
		top: 100px;
		left: 97px;
	}

	.phone__img {
		top: 50px;
		left: -158px;
		height: 588px;
	}

	.laptop__img {
		width: 600px;
		height: 700px;
		position: absolute;
		top: 0px;
		left: -65px;
	}

	.laptop__screen {
		width: 426px;
		top: 120px;
		left: 22px;
		height: 300px;
	}
}

@media screen and (max-width: 1000px) {
	.nav {
		justify-content: space-around;
	}

	.skills__container {
		grid-template-columns: 1fr;
		row-gap: 4rem;
	}

	.jobTitleContainer {
		height: 10vh;
	}

	.skills__courses {
		text-align: center;
	}

	.skills__subtitle-course {
		margin: 4rem 0 3rem;
	}

	.home__img {
		width: 45%;
		margin: 8rem auto -1rem;
		display: flex;
	}

	.home {
		flex-direction: column-reverse;
	}

	.skills__padding {
		padding: 0 2rem;
	}

	.home__paragraph {
		font-size: 1.8rem;
	}

	.footer {
		padding: 0;
	}
}

@media screen and (max-width: 900px) {
	.about__paragraphs {
		display: flex;
		flex-direction: column;
	}

	.about__paragraph {
		border-right: none;
		padding-right: 0;
	}

	.github__container {
		height: 10vh;
	}

	.box__container,
	.github__chart {
		display: none;
	}

	.projects__title {
		font-size: 3rem;
	}

	.nav__logo {
		display: none;
	}

	.nav {
		justify-content: center;
	}
}

@media screen and (max-width: 650px) {
	.home__paragraph {
		font-size: 1.4rem;
		padding: 0 1rem;
		text-align: center;
	}

	.home__text {
		font-size: 3rem;
		text-align: center;
	}

	.about {
		font-size: 3rem;
	}

	.home__text-container {
		margin-top: 2rem;
	}

	.footer-list__item:first-child {
		display: none;
	}

	.home__img {
		width: 60%;
		margin: 10rem auto -1rem;
	}

	.project {
		gap: 0;
	}

	.project__description {
		font-size: 1rem;
	}
}

@media screen and (max-width: 550px) {
	.projects__title {
		font-size: 3rem;
	}

	.nav__item {
		margin-left: 2rem;
	}

	.laptop__img {
		width: 400px;
		height: 600px;
		top: 30px;
		left: 12px;
	}

	.laptop__screen {
		width: 285px;
		top: 131px;
		left: 70px;
		height: 261px;
	}

	.footer-list {
		flex-direction: column;
		align-items: center;
	}
}

@media screen and (max-width: 450px) {
	.nav__link {
		font-size: 0.8rem;
	}

	.laptop__img {
		left: -17px;
	}

	.laptop__screen {
		left: 40px;
	}

	.phone__screen {
		left: 25px;
	}

	.phone__img {
		left: -230px;
	}
}

@keyframes MoveTop {
	0% {
		opacity: 0;
		transform: scaleX(20%);
	}

	80% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
		transform: scaleX(100%);
	}
}

@keyframes MoveLeft {
	0% {
		opacity: 0;
		transform: translatex(-100px);
	}

	80% {
		opacity: 0.8;
		transform: translatex(10px);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes MoveRight {
	0% {
		opacity: 0;
		transform: translatex(100px);
	}

	80% {
		opacity: 0.8;
		transform: translatex(-10px);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}
